<footer class="footer">
  <p class="footer__p">
    <span>Made by</span> Rubén Terré - <span>Built in</span> Astro
  </p>
</footer>

<style>
  /*/ Footer /*/

  .footer {
    margin: 3rem 0px;
  }

  .footer__p {
    font-family: var(--font-primary);
    font-size: 0.8rem;
    text-align: center;
  }

  .footer__p span {
    color: var(--color-primary);
  }
</style>
