 <section class="main__section">
        <div class="main__title">
          <h2 class="main__h2">Proyectos y repositorios</h2>
          <hr class="main__hr" />
        </div>
        <div class="main__cards">
          <a
            href="https://github.com/rubenterre"
            target="_blank"
            rel="noopener noreferrer"
          >
            <div class="main__card">
              <div class="card__icon">
                <div class="card__line"></div>
                <img
                  src="./assets/icons/socials/github.svg"
                  alt="Enlace al GitHub de Rubén Terré"
                  class="card__img"
                />
              </div>
              <div class="card__description">
                <p class="card__a">/rubenterre</p>
                <p class="card__p">Código de proyectos en GitHub</p>
              </div>
              <div class="card__arrow">
                <img
                  src="./assets/icons/arrow_icon.svg"
                  alt="Flecha de enlace"
                  class="card__url"
                />
              </div>
            </div>
          </a>
        </div>
      </section>