/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
    font-size: 13px;
}

@font-face {
    font-family: Plus-Jakarta-sans;
    src: url(./fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

:root{
    --color-primary: #050B32;
    --color-secondary: #576D99;
    --color-tertiary: #0060F0;
    --color-light: #fff;
    --color-span: red;
    --font-primary: Plus-Jakarta-sans;
}

body {
 background: url(../assets/fondo.png);
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 color: var(--color-primary);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 14px;
 font-family: var(--font-primary);
}

button {
 cursor: pointer;
}

/* Estilos formulario */

/* Header */

.header{
    background-color: var(--color-light);
    height: 80px;
    width: 100vw;

}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100vw;
}

.header__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__a{
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-primary);
}

.header__a--signup{
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-light);
    background-color: var(--color-tertiary);
    padding: 11px 32px;
    border-radius: 12px;
    box-shadow: 0px 12px 20px 0px rgba(78, 111, 158, 0.20);
}

/* Main */


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.form{
    background-color: var(--color-light);
    padding: 40px;
    border-radius: 15px;
    border: 1px solid var(--color-tertiary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.form__presentaion{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.form__details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.form__h1{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
}

.form__p{
    font-family: var(--font-primary);
    font-size: 1rem;
    font-weight: 300;
    color: var(--color-secondary);
    text-align: center;
}

.form__inputs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    margin-top: 15px;
}

.form__input{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
}

input::placeholder{
    color: var(--color-secondary);
}

#cities{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
}

.form__input span{
    color: var(--color-span);
}

.form__name{
    font-family: var(--font-primary);
    font-size: 1rem;
}

.form__email{
    grid-column: span 2;
}

.form__legal{
    display: flex;
    flex-direction: row;
    align-items: center;
    accent-color: var(--color-tertiary);
}

.form__a{
    color: var(--color-primary);
}



.form__submit{
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__submit input{
    border-radius: 10px;
    border: 1px solid var(--color-tertiary);
    background: var(--color-light);
    font-family: var(--font-primary);
    color: var(--color-tertiary);
    padding: 10px 64px;
}


/* MEDIA QUERIES */

@media (max-width: 768px){
    .form__inputs{
        display: flex;
        flex-direction: column;
    }
}