/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
    font-size: 14px;
}

body {
 background: black;
 color: white;
 -webkit-font-smoothing: antialiased;
 width: 100vw;
 height: 100vh;
 overflow: hidden;
}

body, input, button {
 font-family: sans-serif;
}

button {
 cursor: pointer;
}

/* Estilos xeriais */


video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}