* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
     font-size: 14px;
     scroll-behavior: smooth;
}

:root{
  --color-primary: #062865;
  --color-secondary: #0056ff;
  --color-tertiary: #d1efff;

--color-50: #fffbea;
--color-100: #fff1c5;
--color-200: #ffe385;
--color-300: #ffcd46;
--color-400: #ffb71b;
--color-500: #ff9300;
--color-600: #e26c00;
--color-700: #bb4802;
--color-800: #983808;
--color-900: #7c2e0b;
--color-950: #481500;




}

body {
 background: white;
 color: var(--color-tertiary);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
 cursor: pointer;
}

/* Tarxetas */

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.main__h4{
    color: var(--color-950);
    margin: 1.5rem 0px;
}


  .tarxeta {
    display: none;
    border: 1px solid var(--color-300);
    padding: 10px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background: var(--color-50);
    border-radius: 5px;

  }

  .tarxeta__h2{
    color: var(--color-950);

  }

  .tarxeta__p{
    color: var(--color-800);
  }

  .tarxeta__img{
    width: 100px;
    margin: 0 auto;
  }
  
.main__buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

  button {
    height: 30px;
    padding: 0px 15px;
    background: linear-gradient(var(--color-600), var(--color-700));
    border-radius: 5px;
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.2);  
    color: white;
    border: 1px solid var(--color-800);
    font-weight: 600;
    transition: box-shadow .5s ease;
  }

  button:active{
    box-shadow: 2px 4px 2px 1px rgba(0, 0, 0, 0.0);
  }
  