/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: Poppins-Medium;
  src: url(./fonts/Poppins-Medium.ttf);
}

:root {
  --color-primary: #d0ff00;
  --color-secondary: #fff;
  --color-gradient: rgba(255, 255, 255, 0.06);
  --color-border: rgba(255, 255, 255, 0.29);
  --color-text-buttons: black;
  --font-primary: Poppins-Regular;
  --font-secondary: Poppins-Medium;
}

body {
  background: url(../assets/img/Fondo.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: var(--color-secondary);
  position: relative;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0px;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
}

/* Estilos xerais */

/* HEADER */

.header {
  max-width: 1400px;
  padding: 0px 20px;
  background-color: var(--color-gradient);
  border: 1px solid var(--color-border);
  backdrop-filter: blur(10px);
  border-radius: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  width: 100%;
}

.header__logo {
  height: 25px;
}

.header__img {
  max-width: 100%;
}

.header__nav {
  display: flex;
  gap: 2rem;
}

.header__a {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  text-decoration: none;
}

.header__a--active {
  color: var(--color-primary);
  font-weight: 500;
  font-family: var(--font-secondary);
}

.header__signup {
  width: 94px;
  height: 52px;
  border-radius: 43px;
  background: var(--color-primary);
  color: var(--color-text-buttons);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */

.main{
    max-width: 1400px;
    padding: 0px 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    gap: 3rem;
}

.hero__h1{
    font-family: var(--font-secondary);
    font-size: 4rem;
    font-weight: 500;
    line-height: 5rem;
}

.hero__p{
    font-family: var(--font-primary);
    font-size: 1.1rem;
    font-weight: 400;
    width: 50ch;
}

.hero__buttons{
    display: flex;
    gap: 1rem;

}

.hero__button{
    width: 222px;
height: 52px;
border-radius: 100px;
background: var(--color-primary);
display: flex;
align-items: center;
justify-content: space-around;
text-decoration: none;
color: var(--color-text-buttons);
text-transform: uppercase;
font-size: 1.2rem;
}

.hero__arrow{
    width: 24px;
}

.hero__button--saber{
    background: var(--color-secondary);
}


/* FOOTER */

.footer{
    max-width: 1400px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer__socials{
    display: flex;
    gap: 1rem;
}

.footer__social{
    width: 55px;
}

.footer__p{
    font-family: var(--font-primary);
    font-size: 1rem;
}

/* Media Queries */

@media (max-width:1024px) {

    .header{
          max-width: 800px;
    }

    .main{
         max-width: 800px;

    }

    .footer{
      max-width: 800px;

    }
}



@media (max-width: 768px) {

body{
    height: auto;
}

.header {
  max-width: 90%;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.header__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.header__a{
    width: 100%;
    background-color: var(--color-secondary);
    height: 45px;
    color: var(--color-text-buttons);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__signup{
    width: 100%;
}

.main{
    display: flex;
    align-items: center;
}

.hero{
    padding: 2rem;
    width: 100%;
}

.hero__h1{
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.hero__p{
    width: 100%;
    text-align: center;
}

.hero__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
    flex-direction: column;
}


}

@media (max-width: 460px) {

body{
    height: 100%;
}



}