* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: white;
 color: black;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 14px;
 font-family: var(--fonte-principal);
}

button {
 cursor: pointer;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-VariableFont_wdth.ttf);
}

/* Estilos xerais */

:root{
    --cor-principal: #f57e72;
    --cor-secundario: #455368;
    --cor-terciario: #f1f1f1;
    --fonte-principal: OpenSans;
}

body{
    background: rgb(244,203,189);
    background: radial-gradient(circle, rgba(244,203,189,1) 0%, rgba(252,195,115,1) 35%, rgba(255,231,223,1) 100%);;
}

.header{
    text-align: center;
    padding: 20px 0px;
}

.header__h1{
    font-family: var(--fonte-principal);
    color: var(--cor-secundario);
    font-weight: 600;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50vh;
    place-content: center;
}

.main__h1{
    font-family: var(--fonte-principal);
    color: var(--cor-secundario);
}

.calculadora{
    background: var(--cor-terciario);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.142);
    width: 231px;
}

.calculadora__boton{
    padding: 10px 10px;
    margin-top: 10px;
    background-color: var(--cor-secundario);
    color: white;
    font-size: 1.3em;
    width: 50px;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 1px 2px 3px gray;
    transition: all .3s ease;
    border-radius: 5px;
}

.calculadora__boton:active{
    box-shadow: 0px 0px 0px;
}

.calculadora__boton--operador{
    padding: 10px 10px;
    margin-top: 10px;
    background-color: var(--cor-principal);
    color: white;
    font-size: 1.3em;
    width: 50px;
    box-sizing: border-box;
    border: 0px;
    box-shadow: 1px 2px 3px gray;
    transition: all .3s ease;
    border-radius: 5px;
}

.calculadora__boton--operador:active{
    box-shadow: 0px 0px 0px;
}



#display{
    width: 100%;
    padding: 20px 5px;
    box-sizing: border-box;
    font-size: 1.2rem;
    font-weight: 600;
}

.resultados{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.resultados__p{
    font-family: var(--fonte-p);
    color: #455368;
    text-align: center;
}

.footer{
    text-align: center;
}

.footer__p{
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-secundario);
}