/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html{
    font-size: 14px;
}

@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root{
    --color-primary: #000000;
    --color-secondary: #925E45;
    --color-tertiary: #454545;
    --color-light: #fff;
    --font-primary: Montserrat;
}

body {
 background: var(--color-light);
 color: var(--color-primary);
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-family: var(--font-primary);
}

button {
 cursor: pointer;
}

/* Estilos xerais */

/* Global */

.global__button{
    background: var(--color-secondary);
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--color-light);
    font-weight: 600;
    border: 0px;
    text-align: center;
}

.global__button--saber{
    max-width: 186px;
}

/* Header */

.logo{
    width: 84px;
}

/* Hero */

.hero{
    background: url(../assets/img/cafe_hero.png) center/cover no-repeat;
/*     background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

}

.hero__p{
    max-width: 650px;
    margin: 0 auto;
}

.form{
    max-width: 650px;
    margin: 0 auto;
}

/* About */

.about__h2{
    font-weight: 600;
    font-size: 2.5rem;
}