/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(./fonts/OpenSans-VariableFont_wdth.ttf);
}

:root{
    --color-primary: white;
    --color-secondary: black; 
    --font-primary: OpenSans;
    --order: -4;
}

body {
 background: var(--color-secondary);
 color: var(--color-primary) ;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 20px;
 font-family: var(--font-primary);
}

button {
 cursor: pointer;
}


/* Estilos xerais */

/* Float */

.section1{
    float: left;
    width: 50%;
    background-color: blue;
    padding: 10px;
}

.section2{
    float: right;
    width: 50%;
    background-color: red;
    padding: 10px;

}

.clearfix{
    clear: both;
}

footer{
    padding: 10px;
}