/* Reset CSS */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: white;
 color: black;
 -webkit-font-smoothing: antialiased;
 cursor: url(../puntero.png), auto; 
}

body, input, button {
 font-size: 14px;
 font-family: sans-serif;
}

button {
 cursor: pointer;
}

/* Estilos xerais */

.caixa{
    width: 400px;
    height: 400px;
    color: rgb(110, 16, 16);
    border: 2px dashed black;

    /* Padding: espazo interior */
    padding: 20px; /* Afecta a tódolos lados */
    padding: 20px 20px 20px 20px; /* Arriba, dereita, abaixo, esquerda */
    padding: 20px 20px; /* Afecta a arriba e abaixo e a dereita e esquerda */

    padding-top: 20px; /* Afecta só a arriba */
    padding-right: 20px; /* Afecta só a dereita */
    padding-bottom: 20px; /* Afecta só a abaixo */
    padding-left: 20px; /* Afecta só a esquerda */

    /* Margin: espazo exterior ao borde */
    margin: 20px; /* Afecta a tódolos lados */
    margin: 20px 20px 20px 20px; /* Arriba, dereita, abaixo, esquerda */
    margin: 20px 20px;  /* Afecta a arriba e abaixo e a dereita e esquerda */

    margin-top: 20px; /* Afecta só a arriba */
    margin-right: 20px;  /* Afecta só a dereita */
    margin-bottom: 20px; /* Afecta só a abaixo */
    margin-left: 20px; /* Afecta só a esquerda */

    /* Sombra caixa */

    box-shadow: 2px 5px 10px gray;
}

/* Diferentes formas de aplicar unha pseudoclase

p:hover{
    background-color: brown;
}

#inicio{
    width: 100px;
    background-color: aqua;
}
#inicio:hover{
    width: 300px;
    background-color: blueviolet;
}

*/

.caixa:hover{
    background-color: green;
}

.azul{
    background-color: blue;
}

.amarelo{
    background-color: yellow;
}

.vermello{
    background-color: red;
}

.sublinado{
    text-decoration: underline;
}

.redonda{
    border-radius: 10px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo{
    margin: 20px;
    width: 500px;
    box-shadow: 2px 5px 10px black;
}

.logo-dropshadow{
    margin: 20px;
    width: 500px;
    filter: drop-shadow(2px 5px 5px black);
}