* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: Helvetica;
    src: url(./fonts/Helvetica.ttf);
}

@font-face {
    font-family: Helvetica-Bold;
    src: url(./fonts/Helvetica-Bold.ttf);
}

:root{
    --font-primary: Helvetica;
    --font-secondary: Helvetica-Bold;
    --color-primary: #080808;
    --color-secondary: #FFFFFF;
    --color-tertiary: #616161;
}

body {
 background: var(--color-secondary);
 color: var(--color-primary);
 -webkit-font-smoothing: antialiased;
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
}

body, input, button {
 font-size: 14px;
 font-family: var(--font-primary);
}

button {
 cursor: pointer;
}

/* Header */

.header__primary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 24px;
    height: 66px;
}

.header__img{
    height: 16px;
}

.header__nav{
    display: flex;
    gap: 2rem;
}

.header__a{
    text-decoration: none;
    font-family: var(--font-secondary);
    color: var(--color-primary);
    font-size: 1.1rem;
}

.market{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.market__login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.market__a{
    text-decoration: none;
}

.market__p{
    font-family: var(--font-secondary);
    color: var(--color-primary);
    font-size: 1.1rem;
}

.header__secondary{
    height: 44px;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 24px;
}

.header__p{
    color: var(--color-secondary);
}

.header__a--oferta{
    color: var(--color-secondary);
    font-family: var(--font-secondary);
    text-decoration: none;
    font-weight: 700;
}

/* Main */

.main{
    flex-grow: 1;
}

.ex30{
    display: flex;
    flex-direction: column;
    max-width: 1277px;
    padding: 2rem 0px;
}

.ex30__gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

video{
    max-width: 80vw;
}

#gallery{
    max-width: 80vw;
}

.ex30__colorpicker{
    width: 256px;
    height: 52px;
    background-color: var(--color-secondary);
    border-radius: 25px;
    position: relative;
    left: 50vw;
    bottom: 50px;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ex30__button{
    background-color: var(--color-secondary);
    border: 0px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Features */

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10%;
    flex-wrap: wrap;
}

.features__presentation{
    max-width: 960px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 2rem 0px;
}

.features__h2{
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 2rem;
}

.features__h4{
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-tertiary);
}

@media (max-width: 600px) {
  .features__h4 .force-break { display: none; }
}


.features__h2--price{
    font-family: var(--font-secondary);
    font-weight: 700;
    color: var(--color-tertiary);
    font-size: 2rem;
}

.features__data{
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

.features__card{
    flex-grow: 256px;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}

.features__h3{
    font-family: var(--font-secondary);
    font-size: 3rem;
}

.features__h3 span{
    font-size: 1.8rem;
}

.features__h5{
    font-family: var(--font-primary);
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--color-primary);
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 2rem 0px;
}