---

---


<header class="header">

    <nav class="header__nav">
        <a href="/" class="header__a">Inicio</a>
        <a href="/contacto" class="header__a">Contacto</a>
    </nav>

</header>

<style>
    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .header__a{
        text-decoration: none;
        color: black;
    }
</style>

<script>



</script>
