* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
 background: gray;
 color: white;
 -webkit-font-smoothing: antialiased;
}

body, input, button {
 font-size: 10;
 font-family: sans-serif;
}

button {
 cursor: pointer;
}

/* Estilos xerais */

    table {
      border-collapse: collapse;
      width: 60%;
      margin: 20px auto;
    }
    th, td {
      border: 1px solid #555;
      padding: 10px;
      text-align: center;
    }
    th {
      background-color: #e2e2e2;
      color: black;
    }
    caption {
      caption-side: top;
      font-weight: bold;
      margin-bottom: 10px;
    }